body{
  background: red;
  color: white;
  text-align: center;
  font-family: fantasy;
  font-size: 12px;
}
h1{
  text-align: center;
  background-color: brown;
}
article{
  margin-bottom: 40px;
  border: 1px solid;
  background-color: black;
}
